/**
*
* {{ properCase name }}
*
*/

// Node_Module Imports
import React, { ComponentType } from 'react';

const {{ properCase name }} = ({ className, children }) => <div className={className}>
  {children}</div>;

{{ properCase name }}.defaultProps = {};


export default { {{ properCase name }} };